/android/nbproject/private/
/android/gen/
/android/bin/
/android/nbandroid/
/android/private/

/desktop/nbproject/private/
/desktop/build/
/desktop/dist/

/common/nbproject/private/
/common/build/
/common/dist/

/editor/nbproject/private/
/editor/build/
/editor/dist/
/editor/*.palvl

